{% extends 'QuestionApp/base.html' %}
{% load static %}

{% block logo %}
    <img class="img1" src="{% static 'QuestionApp/img/1.jpg' %}">
{% endblock %}

{% block header_content%}
    <h1>
        my investigation questionnaire 3
    </h1>
{% endblock%}

{% block content %}
<ol>
{% if object_list %}
    {% for q in object_list %}
        <li><a href="{% url 'question_detail' q.pk %}">{{ q.question_text}}</a></li><br>
    {% endfor %}
{% else %}
    There is no question published yet.
{% endif %}
</ol>
{% endblock %}



    
