{% extends 'QuestionApp/base.html' %}
{% load static %}

{% block logo %}
    <img class="img1" src="{% static 'QuestionApp/img/1.jpg' %}">
{% endblock %}

{% block header_content%}
    <h1>
        my investigation questionnaire 3
    </h1>
    {% if user.is_authenticated %}
        <p><span>Welcome, {{user.username}}.</span> &ensp; <span><a href="{% url 'logout' %}">Logout</a></span></p>
    {%else%}
        <p><span><a href="{% url 'login' %}">Login</a></span></p>
    {%endif%}
{% endblock%}

{% block content %}
<ol>
    {% if question_list %}
        {% for q in question_list %}
            <li><a href="{% url 'question_detail' q.pk %}">{{ q.question_text}}</a></li><br>
        {% endfor %}
        <br>
        <div>
            <a href="{% url 'start_vote' %}">  Participate the questionnaire  </a>
        </div>
    {% else %}
        <p>There is no question published yet.</p>
    {% endif %}
</ol>
<hr>
<ol>
    <h3>Comments / Feedbacks</h3>
    {% if comment_list %}
        {% for c in comment_list %}
            <li><a href="{% url 'comment_detail' c.pk %}">{{ c.comment_title}}</a></li><br>
        {% endfor %}
    {% else %}
        <p>There is no any comment/feedback yet.</p>
    {% endif %}
    <br>
    <a href="{% url 'comment_add' %}">Leave your feedback</a>
</ol>
{% endblock %}



    
